.board {
  display: grid;
  grid-gap: 8.5px;
  grid-template-columns: 85px 85px 85px 85px;
  background-image: radial-gradient( rgb(235, 209, 139),  rgb(235, 209, 139),  rgb(246, 214, 125));
  margin: 2px;
}
