/* .letterTile {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
} */

.letterTile {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  padding: 10px;
  font-size: 150%;

}
