.scoreBoardContainer {
  display: flex;
  justify-content: space-around;
}

.scoreBoard {
  background-color: #252320ed;
  border: 6px ridge #9b6f41;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 365px;
  height: 30px;
  line-height: 25px;
}

.points {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 24px;
}

/* this will be used to transition numbers on change */
.points2 {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}


